.search-bar-input-container {
  display: flex;
  height: 100%;
  margin-left: auto;
  width: 100%;
}

.search-bar-input {
  background-color: var(--color-search-bar-background);
  border: transparent;
  color: var(--color-search-bar-text);
  font-family: var(--font-application);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  height: 100%;
  outline: none;
  width: 100%;
}