.list-container {
  background-color: var(--color-list-background);
  height: var(--list-container-height);
  overflow: scroll;
}

.list-container-loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}