.list-container {
  align-items: center;
  background-color: var(--color-list-background);
  display: flex;
  flex-direction: column;
  height: var(--list-container-height);
  justify-content: center;
  overflow: scroll;
}