/* 
application and view styles
*/

#root {
  align-items: center;
  background-color: var(--view-main-background);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.view-container {
  height: var(--view-container-height);
  width: var(--view-container-width);;
}