/* 
application variables
*/

:root {
  /* font */
  --font-application: 'Roboto', sans-serif;

  /* font size */
  --font-size-small: 1em;
  --font-size-medium: 2em;
  
  /* icon size */
  --size-icon-small: 1em;
  --size-icon-medium: 2.8em;
  /* --size-icon-medium: 100%; */

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* color */

  /*  background */

  /* --main-background: offwhite; */
  --color-view-background: white;
  /* -- color-list-item-background: little more offwhite; */
  /* --lightest: #f9f6f2; */
  /* --color-search-bar-background: #b4a89a; */
  --color-search-bar-background: #cabdad;
  --color-list-item-background: lightGrey;
  /* -- color-list-item-text: contrasts little more offwhite */
  --color-list-item-text: darkGrey;
  /* -- color-searchbar-background: medium color; */
  
  /* text and icons */

  /* -- color-searchbar-text-color: contrasts medium color; */
  --color-search-bar-text: #433f39;
  --color-search-bar-icon: #433f39;
  
  /* view size */
  --view-container-height: 80%;
  --view-container-width: 40%;
}

/* 
media query for tablet or smaller screen 
*/

@media screen and (max-width: 1024px) {
  :root {
    /* view size */
  --view-container-height: 100%;
  --view-container-width: 100%;
  }
}