/* 
application variables
*/

:root {
  /* font */
  --font-application: 'Roboto', sans-serif;

  /* font size */
  --font-size-small: 1em;
  --font-size-medium: 2em;
  
  /* icon size */
  --size-icon-medium: 2.8em;

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* color */

  /*  background */
  --color-view-background: #fdfcfc;
  --color-search-bar-background: #cabdad;
  --color-sort-bar-background: #d9d0c5;
  --color-sort-button-background: #d9d0c5;
  --color-sort-button-background-hover: #cabdad;
  --color-list-background: #fdfcfc;
  --color-list-item-background: #d9d0c5;
  --color-list-detail-background: #fdfcfc;

  /* text and icons */
  --color-search-bar-text: #433f39;
  --color-search-bar-icon: #433f39;
  --color-sort-bar-text: #655e56;
  --color-sort-bar-text-hover: #433f39;
  --color-list-item-text: #433f39;
  --color-list-item-sub-text: #655e56;
  --color-load-icon: #cabdad;

  /* view size */
  --view-container-height: 80%;
  --view-container-width: 40%;

  /* list height */
  --list-container-height: 86%;

  /* drop shadow */
  --view-drop-shadow: drop-shadow(0em 0.5em 0.1em #cabdad);
}

/* 
media query for tablet
*/

@media screen and (max-width: 1024px) {
  :root {
    /* view size */
    --view-container-height: 92%;
    --view-container-width: 92%;

    /* font size */
    --font-size-small: 2em;
    --font-size-medium: 3em;
    
    /* icon size */
    --size-icon-medium: 4em;

    /* list height */
    --list-container-height: 86%;

    /* drop shadow */
    --view-drop-shadow: drop-shadow(0em 0.5em 0.3em #cabdad);
  }
}

/* 
media query for mobile
*/

@media screen and (max-width: 812px) {
  :root {
    /* font size */
    --font-size-small: 1em;
    --font-size-medium: 2em;
    
    /* icon size */
    --size-icon-medium: 2.8em;

    /* list height */
    --list-container-height: 90%;
  }
}