.search-icon {
  fill: var(--color-search-bar-icon);
  height: var(--size-icon-medium);
  width: var(--size-icon-medium);
}

.close-icon {
  fill: var(--color-search-bar-icon);
  height: var(--size-icon-medium);
  width: var(--size-icon-medium);
}

.load-icon {
  fill: var(--color-load-icon);
  height: var(--size-icon-medium);
  transform: rotate(360deg);
  width: var(--size-icon-medium);
}

.test {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}